.search{
    width: 10%;
    border: 1px solid teal ;
    color: teal;
    border-radius: 25%;
    height: 22px;
    font-weight: 600;
}
.plus{
    border-radius: 50%;
    background-color: lightseagreen ; 
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 25px;
}
.createaccount{
    background-color: blue; 
    color:white ;
    width: 15%;
    height: 35px;
    border: 3px solid black;
}